@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Outfit", "sans-serif";
  --animate-: {
    loading: "expanding 0.4s 0.7s forwards linear, moving 1s 1s infinite forwards linear";
  }
}
@keyframes expanding {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes moving {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.loading-bar {
  height: 1.25rem;
  transform-origin: left; /* Without this, you'll notice the `expanding` animation starts expanding from the  middle instead of shooting out from the left */
  animation: expanding 0.4s 0.7s forwards linear,
    moving 1s 1s infinite forwards linear;
  border-radius: 2rem;
  background-image: linear-gradient(
    to right,
    #eff6ff 30%,
    #2563eb60 60%,
    #eff6ff
  );
  background-size: 200% auto;
  opacity: 0; /* The `expanding` animation will fade in the loading bar */
  animation-delay: 100ms;
}
